<div class="footer" id="dvFooter">
    <div class="row">
        <div class="col-md-6">
            <i class="fa fa-server"></i>&nbsp;&nbsp;<label id="lblServerName">@ViewBag.ServerName</label> | <i class="fa fa-database"></i>&nbsp;&nbsp;<label id="lblDatabaseName">@ViewBag.DatabaseName</label> | <i class="fa fa-gear"></i>&nbsp;&nbsp;<label id="lblControllerName">MasterPage</label> | <i class="fa fa-gears"></i>&nbsp;&nbsp;<label id="lblViewName">Index</label>
        </div>
        <div class="col-md-6" style="text-align:right">
            <i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;<label id="lblUserName">@ViewBag.UserName</label> | <i class="fa fa-vcard"></i>&nbsp;&nbsp;<label id="lblDisplayname">@ViewBag.Displayname</label>
        </div>
    </div>
</div>
