@model Inspinia_MVC5.Models.MainClass.cApplication

<div class="row" style="padding-top:20vh">
    <div class="col-md-12" style="text-align:center">
        <i class="@Model.ImageIcon" style="font-size:10em"></i>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h1 style="font-weight:700">@Model.ApplicationNameTH</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h2>@Model.Description</h2>
    </div>
</div>